/*
Theme Name:     Oceancross-theme
Theme URI:      
Description:    Envo-multipurpose child theme.
Author:         Me
Author URI:     
Template:       envo-multipurpose
Version:        0.1.0
*/
.page-id-248 article {
    width: 100%;
}
.page-id-248 #sidebar {
    display: none;
}

.navbar-nav {
    margin: 7.5px 0px;
}
.woocommerce div.product p.price, .woocommerce div.product span.price {
    color: #000!important;
}
.dropdown-submenu>.dropdown-menu {
    border-radius: 0;
    padding-left: 1rem;
}
.container > .navbar-header {
    margin: 0;
}
@media (max-width: 767px){
    .mobile-cart .header-cart, 
    .mobile-account .header-my-account {
        right: 50px;    
    }
    .brand-absolute {
        bottom: 0;
    }
    .navbar-nav li.current-menu-item a {
        color: #fff!important;
        padding-left: 2rem;
    }
}